{{define "main"}}

<section class="section-sm">
  <div class="container">
        <div class="d-flex flex-column">
          {{ partial "logoFirst.html" . }}
          {{ if site.Params.firstPageText }}
            <p class="font-weight-500 content text-center mt-5">{{site.Params.firstPageText| markdownify}}</p>
          {{ end }}
        </div>
  </div>
</section>

{{ with site.Params.instafeed }}
{{ if .enable }}
<section class="mb-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <p class="font-primary">Our Instagram</p>
          <h2 class="text-dark font-weight-700"><a href="https://www.instagram.com/{{.instagram_user}}/">@{{.instagram_user}}</a></h2>
        </div>
      </div>
      {{ with .access_token }}
      <div class="mt-5">
        <div id="instafeed" class="instagram_feed rounded row no-gutters justify-content-center" data-accessToken="{{.}}"></div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{end}}